[Desktop Entry]
Type=Link
Name=Hemma Research Workstation
Comment=TAALED, TAALES, JASP and Hemma Home
Icon=applications-science
URL=/usr/share/applications/hemma-research.desktop
